<section class="form-section">
  <div class="text">
    <h3>
      Fique por dentro das tendências
    </h3>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s...
    </p>
  </div>



    <form [formGroup]="newsletterForm" (ngSubmit)="onSubmit()">

    <label for="nome">Nome</label>
    <input id="nome" formControlName="name" placeholder="Seu nome completo"/>

    <label for="email">Email</label>
    <input id="email" formControlName="email" placeholder="Seu melhor email"/>



    <app-bnt-primary
      btn-text="se inscreva"
      [variant]="'primary'"
     [loading]="loading()"
    ></app-bnt-primary>

  </form>
</section>
