<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">
      <span>AN CONSULTORIA</span>
      <h1>Consultoria que você busca para o seu software</h1>
    </div>
    <img ngSrc="/assets/section.png" width="600" height="400" />
  </section>
  <hr>

   <section class="benef-section">

        <h2 class="porcentage-section">
           95% das <br>
         empresas
        </h2>

<p class="sub-benef">não sabem como gerenciar <b class="escala-section">escalabilidade</b> e grandes quantidades de requisições.</p>
  </section>
  <hr>
<section>
<app-bnt-primary class="cta-section" btn-text="Fale com os nossos especialistas" [variant]="'primary'"></app-bnt-primary>

</section>
<app-newsletter-form></app-newsletter-form>
</main>
