<app-header-component></app-header-component>
<app-header></app-header>
<main>
  <section class="main-section">
    <div class="headline">

      <h1>Transformamos ideias em soluções digitais escaláveis.</h1>
    <span>Na SoluTI, unimos estratégia, design e tecnologia para criar softwares sob medida
      que impulsionam resultados reais. Somos a ponte entre a sua necessidade e a solução
      inteligente.</span>
    </div>
    <div class="sobrepo">

    <img class="imagem-conf" ngSrc="assets/configuracoes.gif" width="600" height="400" />
    <img class="imagem-in" ngSrc="assets/imagemInicio.avif" width="600" height="400" />
  </div>
  </section>

  <hr>

   <section class="benef-section">

        <h2 class="porcentage-section">
           95% das <br>
         empresas
        </h2>

<p class="sub-benef">não sabem como gerenciar <b class="escala-section">escalabilidade</b> e grandes quantidades de requisições.</p>
  </section>
  <hr>
<section>
<app-bnt-primary class="cta-section" btn-text="Fale com os nossos especialistas" [variant]="'primary'"></app-bnt-primary>

</section>
<app-newsletter-form></app-newsletter-form>
</main>
